

.comments-page .thing a.title:visited {
    color: #444;
}


.commentarea {
    padding: 12px;
    color: #555;

    /* RES */
    .comment-visits-box {
        border: 1px solid #BBB;
        border-radius: 0px;
        background: #FAFAFA;
        padding: 10px 24px;
    }

    .panestack-title {
        border-bottom: 1px solid #DDD;
        text-transform: capitalize;
        text-align: center;
        width: 75%;
        margin: 0 auto;

        .title {
            font-size: 18px;
            font-weight: 100;
        }

        #REScommentSubToggle {
            padding: 4px 12px;
            border-radius: 0px;
            background: #FAFAFA;
            transition: background 0.2s;
            color: #666;
            font-weight: normal;

            &:hover {
                background: #DDD;
            }
        }
    }

    .menuarea {
        margin: 12px 0 0 0;
        font-weight: 100;
        text-align: center;
        display: block;
        overflow: visible;

        .loadFlat {
            margin-left: 12px;
        }

        & > .spacer:first-child {
            display: block;
            height: 35px;
            width: 100%;
        }

        & > .spacer + .spacer {
            width: 100%;
        }


        .toggle .togglebutton,
        #REScommentNavToggle [id^='nav']{
            font-size: 12px;
            font-weight: normal;
            text-transform: capitalize;
            transition: color 0.15s;

            &:hover {
                color: black;
            }
        }


        .spacer { // Dropdown
            .dropdown-title:first-letter {
                text-transform: uppercase;
            }
            .dropdown {
                text-transform: uppercase;
                border: 1px solid #DDD;
                margin-left: 4px;
                padding: 5px;
                padding-left: 12px;
                text-decoration: none;
                transition: background 0.2s;
                background: rgba(0,0,0,0.1);

                &:hover {
                    background: rgba(0,0,0,0.2);
                    cursor: pointer;
                }

                .selected {
                    text-decoration: none;
                    font-weight: normal;
                }
            }
            .drop-choices {
                margin-top: 14px;
                background: transparent;

                & > *:first-child {
                    border-top-left-radius: 2px;
                    border-top-right-radius: 2px;
                }
                & > *:last-child {
                    border-bottom-right-radius: 2px;
                    border-bottom-left-radius: 2px;
                }
                a {
                    background: rgba(60,60,60,0.9);
                    padding: 6px 24px;
                    color: #EEE;
                    text-transform: capitalize;
                    text-align: left;

                    &:hover {
                        background: rgba(60,60,60,0.95);
                    }
                }
            }
        }
    } // menuarea

    .usertext-edit {
        width: 100%;
        max-width: 500px;
        margin: 20px auto 60px auto;

        /* Save and cancel buttons */
        .usertext-buttons button {
            background: rgba(0,0,0,0.05);
            font-size: 11px;
            letter-spacing: 2px;
            color: #777;
            margin-top: 0px;
        }
        .usertext-buttons button:hover {
            background: rgba(0,0,0,0.15);
        }
        .usertext-buttons button:active {
            background: rgba(0,0,0,0.25);
        }
    }


    /* Parent Comments */
    & > .sitetable > .comment {
        background: #FAFAFA;
        padding: 12px;
        border-radius: 2px;
        margin: 16px 0;
    }

    .comment {
        border-left: 2px solid #bcc5cc;

        .tagline {
            font-size: 10px;

            blockquote {
                color: #777;
            }

            & > * {
                vertical-align: middle;
            }
            .author {
                font-size: 12px;
                font-weight: normal;
            }
            .submitter {
                color: #af882a;
            }

            time::after {
                display: none;
            }
        }

        .child {
            border: none;
        }
    }

    .expand {
        font-weight: bold;
        font-size: 10px;
    }
}
