// Moderator edit flair page
.flair-settings {
    padding-top: 20px;

    & > h1 {
        text-align: center;
        text-transform: capitalize;
        font-weight: 300;

        strong {
            font-weight: 300;
            text-transform: none;
        }
    }

    .linefield {
        margin: 15px auto;
        @include well;

        .title {
            color: #222;
            font-weight: 300;
            text-transform: capitalize;
            font-size: 14px;
            margin-bottom: 8px;
            display: block;
            border-bottom: 1px solid #CCC;
            padding-bottom: 4px;
        }

        label {
            font-size: $paragraph-text-size;
        }
    }

    .save-button {
        text-align: center;
    }
}

/* Add flair ul */
.flair-settings + .tabmenu {
    text-align: center;
    width: 100%;
    background: #EEE;
    margin-top: 50px;
    display: block;
    border-bottom: 1px solid $well-border-color;
    border-top: 1px solid $well-border-color;

    li.selected {
        border-color: #2F6C82;

        a {
            color: #B92035 !important;
        }
    }
    li:hover {
        background: rgba(0,0,0,0.1);

        a {
            color: #333;
        }
    }
}

.tabpane-content {
    background: $well-bg;
    border: none;
    padding: 30px;
    padding-bottom: 50px;
}
    .tabpane-content .linefield.flair-jump {
        margin: 0 auto;
        margin-bottom: 15px;
        background: #E4E4E4;
    }
        .tabpane-content .linefield.flair-jump .linefield-content {
            font-size: $paragraph-text-size;
        }







/* Link Flair Maker */
li .flairselector {
    background: $well-bg;
    padding: 12px !important;

    h2 {
        margin-bottom: 14px;
        font-weight: 300;
        color: #333;
        text-transform: capitalize;
        font-size: 14px;
        background: none;
    }
    .linkflair {
        text-align: center;
    }

    .flairoptionpane ul {
        width: 100%;
    }

    .flairoptionpane ul > li,
    .flairselection .linkflair {
        padding: 6px;
    }

    .flairoptionpane ul .linkflair a.title,
    .flairselection .linkflair a {
        display: inline !important;
    }
}
