
#header {
    position: absolute;
    width: 100%;
    top: 0px;
    background: transparent;
    border-bottom: none;
    height: $header-height;
    z-index: 2;

    #header-bottom-left {
        position: absolute;
        bottom: 0px;

        left: $side-margin + $tab-bar-offset;
        right: $side-margin + $tab-bar-offset + $sidebar-width + $content-side-space;

        background: rgba(50, 60, 70, 0.8);
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        text-align: center;

        /* Need to push up redditname when no tabs */
        min-height: 48px;

        /* Tabs being supplied elsewhere on submit page */
        .submit-page & {
            visibility: hidden;
        }


        #header-img {
            @include spritesheet;

            visibility: visible;
            position: absolute;
            left: -40px;
            top: -140px;
            width: 64px;
            height: 64px;

            background-position: -184px -4px;
            margin-top: 10px;
            opacity: 0.8;
            transition: opacity 0.2s;

            &:hover {
                opacity: 1;
            }
        }

        .redditname {
            visibility: visible;
            position: absolute;
            height: 80px;
            line-height: 80px;
            top: -80px;
            left: 0px;
            width: 100%;
            color: white;

            a {
                color: white;
                font-size: 50px;
                font-family: $default-font-stack;
                font-weight: 100;
                letter-spacing: 14px;
                font-variant: small-caps;
                text-transform: lowercase;

                &:hover {
                    text-decoration: none;
                }

                &::before {
                    content: '/r/';
                }
            }
        }
    }

    #header-bottom-right {
        position: absolute;
        top: 25px;
        bottom: initial;
        background: transparent;
        margin: 10px;
        margin-right: 18px;
        padding: 0px;

        /* No one needs this right? */
        .beta-hint[style],
        .beta-hint {
            display: none !important;
        }

        .message-count {
            background: rgba(255, 92, 92, 0.63);
        }

        #userbarToggle {
            border-radius: 0px;
            background: rgba(60,60,60,0.8);
            transition: background 0.2s, color 0.2s;
            border: none;
            width: 40px;
            left: -40px;
            text-align: center;
            line-height: 35px;
            padding: 0px;
            font-size: 40px;
            font-weight: 100;
            color: #DDD;

            &:hover {
                color: #FFF;
                background: rgba(60,60,60,0.9);
            }
        }

        /* For RES Users */
        &.res-navTop {
            background: rgba(40,40,40,0.3);
            margin-right: 0px;
            height: 40px;
            line-height: 40px;
            font-size: 11px;
            font-weight: 100;

            * {
                text-transform: capitalize;
                font-weight: normal;
            }

            a, a:visited {
                color: white;
            }

            .separator {
                margin: 0px 10px;
                width: 1px;
                height: 100%;
                text-indent: 10px;
                background: #999;
            }

            .message-count {
                border-radius: 0px;
                width: 30px;
                text-align: center;
                font-size: $paragraph-text-size;;
                margin-left: 6px;
            }

            .user {
                margin-left: 12px;
            }

            .logout {
                margin-right: 12px;
            }
        }

        &:not(.res-navTop) {

            a {
                color: #FFF;
                font-weight: 100;
                font-size: 13px;
            }

            .separator {
                top: 0px;
                background: rgba(60,60,60,0.9);
                width: 45px;
                height: 45px;
                line-height: 45px;
                text-align: center;
                display: block;

                overflow: hidden;
                font-size: 0px;

                margin: 0px;
                position: absolute;
                top: 0px;
                right: 0px;
                z-index: -1;
                border-radius: 2px;

                &::before {
                    content: '☰';
                    color: white;
                    font-size: 20px;
                }

                & ~ .separator {
                    display: none;
                    padding: $well-padding;
                }
            }
            &:hover {
                .separator {
                    background: rgba(60,60,60,1);
                }
                .message-count {
                    display: none;
                }
            }

            $dropdown-items: "a#modmail", "a#mail", "ul", ".user", "form.logout";
            $dropdown-anchors: "a#modmail", "a#mail", "ul a", ".user a", "form.logout a";

            @each $anchor in $dropdown-anchors {
                & > #{$anchor} {
                    padding: 13px 40px;
                    padding-right: 10px;
                    display: inline-block;
                    text-decoration: none;
                }
            }

            @each $item in $dropdown-items {
                &:hover > #{$item} {
                    display: block;
                }
                & > #{$item} {
                    display: none;
                    margin: 0px;
                    background: rgba(60,60,60,0.9);
                    width: 100%;
                    position: static;
                    text-transform: capitalize;
                }
                & > #{$item}:hover {
                    background: rgba(60,60,60,1);
                }
            }

            #mail, #modmail {
                text-indent: 0px;
                height: initial;
            }
            .user {
                margin-top: 50px;
                padding-right: 55px;
                font-size: 0px;
            }

            & > a#mail.havemail {
                background: rgba(105, 38, 38, 0.6);

                &:hover {
                    background: rgba(105, 38, 38, 0.7);
                }
            }

        }
    }

    // Subreddits lining top
    #sr-header-area {
        background: rgba(0,0,0,0.2);
        border: none;
        padding: 0 12px;
        height: $sr-header-height;
        line-height: $sr-header-height;
        color: #AAA;

        a, .dropdown.srdrop .selected {
            color: #AAA;
            height: $sr-header-height;
            line-height: $sr-header-height;

            &:hover {
                color: #DDD;
            }
        }

        #RESShortcutsEditContainer, #RESShortcutsEditContainer > * {
            background: transparent;
            color: #AAA;
            height: $sr-header-height;
            line-height: $sr-header-height;
        }
        #RESShortcutsEditContainer > *:hover {
            color: #DDD;
        }
    }
}
