/* Tags */
#userTaggerToolTip {
    border-radius: 0px;
    height: auto;
    height: initial !important;
}
    #userTaggerToolTip h3 {
        height: 40px;
        background: #FAFAFA;
        color: #444;
        font-weight: 300;
    }
    #userTaggerClose {
        border-radius: 0px;
    }

    #userTaggerToolTip input[type='text'], #userTaggerPreview,
    .userTagLink.hasTag {
        border-radius: 0px;
        padding: 3px 6px;
        height: auto;
        height: initial;
    }
    #userTaggerPreview {
        min-height: 22px;
    }
    #userTaggerToolTip #userTaggerSave {
        border-radius: 0px;
        border: 1px solid #64AF70;
        border: none;
        padding: 6px 16px;
        font-weight: 100;
        text-transform: uppercase;
        background: rgba(91, 136, 98, 0.85);
        transition: background 0.2s;
    }
    #userTaggerToolTip #userTaggerSave:hover {
        background: rgba(91, 136, 98, 1);
    }

    #userTaggerToolTip .toggleButton {
        height: initial;
        width: 100px;
        display: flex;
    }

    #userTaggerToolTip .toggleOn, #userTaggerToolTip .toggleOff {
        box-sizing: content-box;
        border-radius: 0px;
        border: 1px solid #BBB;
        transition: background 0.2s;
        text-transform: uppercase;
        font-weight: 300;
        width: 100%;
    }
    #userTaggerToolTip .toggleButton:not(.enabled) .toggleOn {
        background: rgba(16, 122, 196, 0.8);
        border-right: none;
    }
    #userTaggerToolTip .toggleButton.enabled .toggleOff {
        border-left: none;
        background: rgba(208, 32, 32, 0.8);
    }

/* Top right buttons */
#RESShortcutsSort, #RESShortcutsRight, #RESShortcutsLeft,
#RESShortcutsAdd, #RESShortcutsTrash, #RESShortcutsEditContainer {
    background: transparent !important;
    color: #EEE !important;
}

/* RES Markdown preview */
.RESDialogSmall.livepreview {
    margin-top: 40px;
}
.RESDialogSmall.livepreview * {
    box-sizing: content-box;
}
