
.side {
    z-index: 1;
    min-width: $sidebar-width;
    background: $side-bg;
    order: 10;
    padding: 20px 25px;
    margin: 40px $side-margin 40px 0px;
    right: 0px;
    margin-top: 40px;
    box-shadow: 0px 0px 5px 0px rgba(black, 0.3);

    #login_login-main {
        margin-top: 12px;
        background: rgba(white, 0.3);
        padding: 16px;
        border: $well-border;

        & > input { width: 100%;
            margin: 4px 0;
        }
    }

    #search {

        input[type='text'] {
            border: 1px solid #CCC;
            padding: $well-padding;
            text-transform: uppercase;
            width: 100%;
        }
        input[type='submit'] {
            display: none;
        }
        input:focus {
            border: $well-border;
        }

        #searchexpando {
            padding: $well-padding;
            background: $well-bg;
            border: 1px solid #DDD;
            margin-bottom: 40px;

            p {
                margin: 0px;
            }

            #moresearchinfo {
                color: #555;

                #search_hidemore {
                    letter-spacing: 4px;
                }

                p:first-of-type::first-letter {
                    text-transform: uppercase;
                }
                p:last-child {
                    text-align: center;
                    margin-top: 10px;
                }
                dt {
                    margin-top: 12px;
                }
            }

        }
    }

    .linkinfo {
        @include well;
        margin-top: 12px;
        color: #444;
        text-align: center;

        .date {
            padding-bottom: 3px;
            margin-bottom: 5px;
            border-bottom: 1px solid #CCC;

            span {
                font-size: 0px;

                &::before {
                    font-size: $paragraph-text-size;;
                    content: 'Submitted on ';
                }
            }
        }

        .score {
            font-weight: 300;

            .number {
                font-size: 35px;
            }
            .word {
                text-transform: uppercase;
            }
        }

        .shortlink > input[type='text'] {
            border: $well-border;
        }
    }

    .sidebox {
        margin: 12px 0;

        a {
            font-weight: 100;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: white;
            padding: 8px 12px;
        }

        // Create subreddit button
        &.create {
            display: none;
        }

        /* Post Link Button */
        .morelink {
            background: transparentize($blue, 0.2);
            height: initial;
            // border: 1px solid #CCC;
            transition: background 0.4s;
        }
        &:hover .morelink {
            background: $blue;
        }

        .nub {
            display: none;
        }
    }

    /* Subreddit specific sidebar info */
    .titlebox {
        margin-top: 12px;

        .md hr {
            height: 1px;
            margin: 12px 0;
            color: #BBB;
        }
        .md blockquote {
            margin-left: 12px;
            border-left: 2px solid #BFBFBF;
        }
        h1.redditname {
            overflow: hidden; /* word wrap not allowed */
            font-size: 24px;
            text-align: center;
            margin: 30px 0 12px;
            padding-bottom: 2px;
            border-bottom: $well-border;
            font-family: $default-font-stack;

            a {
                color: #777;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 100;
                letter-spacing: 3px;

                &:hover {
                    color: black;
                }

            }
        }


        .fancy-toggle-button {
            background: transparent;
            height: 25px;
            margin: 12px 0;
            display: block;
            text-align: center;

            a {
                background-image: none;
                transition: background 0.3s;
                border-radius: 0px;
                margin-right: 10px;
                padding: 5px 24px;
                text-transform: uppercase;
                font-weight: 100;
                border: none;

                &.active {
                    display: inline-block;
                }
            }

            &.subscribe-button a {
                background: rgba(134, 36, 53, 0.6);

                &:hover {
                    background: rgba(134, 36, 53, 0.8);
                }
            }

            &.unsubscribe-button a {
                background: rgba(38, 134, 36, 0.6);

                &:hover {
                    background: rgba(38, 134, 36, 0.8);
                }
            }
        }

        // RES only
        .subButtons {
            text-align: center;
            margin: 12px 0;

            span.RESshortcut, span.REStoggle {
                display: inline-block;
                padding: 4px 12px;
                background: none;
                width: auto;
                width: initial;
                border-radius: 0px;
                border: $well-border;
                background: rgba(255,255,255,0.4);
                font-weight: 100;
                text-transform: uppercase;
                transition: background 0.2s;
                margin-bottom: 12px;
                color: #555;

                &:hover {
                    background: rgba(255,255,255,0.8);
                }
            }
        }

        /* Green dot for online */
        .users-online {
            display: flex;
            align-items: center;
            text-transform: capitalize;

            .number {
                margin-right: 4px;
            }

            &::before {
                background: #50914e;
                border-radius: 50%;
                height: 10px;
                width: 10px;
                display: inline-block;
            }
        }
        form.flairtoggle {
            background: none;
        }
        form.flairtoggle, .users-online {
            color: #555;
            font-size: 11px;
        }

        & > .tagline {
            padding: 8px 12px;
            display: table;
            margin: 0 auto;
            margin-top: 10px;
            background: rgba(255,255,255,0.4);
            border: 1px solid #CCC;
            margin-bottom: 24px;
        }

        .subscribers {
            display: block;
            text-align: center;
            margin-bottom: 18px;
            float: right;
            color: #777;
            font-size: 11px;
        }

        .leavemoderator,
        form.leavecontributor-button {
            background: $well-bg;
            padding: $well-padding;
            font-size: 11px;
            border: $well-border;
        }
        .leavemoderator {
            margin-top: 12px;
            border-bottom: none;
        }
        form.leavecontributor-button {
            margin-bottom: 12px;
            border-top: none;
        }

        .bottom {
            margin-top: 10px;
            border-top: 1px solid $well-border-color;
        }


        /* All custom sidebar markdown stuff */
        .usertext {
            p {
                margin-top: 12px;
            }

            table {
                th {
                    background: rgba(black, 0.05);
                }
                th, td {
                    border-color: $well-border-color;
                }
            }

            pre {
                @include well;
            }

            h2 {
                text-align: center;
                margin-top: 40px;
                text-transform: uppercase;
                font-weight: bold;

                strong::before,
                strong::after {
                    content: "";
                    height: 50%;
                    width: 30px;
                    display: inline-block;
                    margin: 0 12px;
                    border-bottom: 1px solid #777;
                    position: relative;
                    top: -6px;;
                }
            }


            /*** Inline Title Box ***/
            h4 {
                font-size: 15px;
                background: #DBDBDB;
                left: 14px;
                top: 10px;
                display: inline;
                padding: 0px 6px;
                font-weight: 100;
                line-height: 20px;
                position: relative;

                & + blockquote {
                    border: 1px solid #AAA;
                    margin-left: 0px;
                    padding: 16px;
                    margin-top: 0px;
                    padding-top: 14px;
                    margin-bottom: 10px;

                    blockquote {
                        max-height: 0px;
                        transition: max-height 0.4s ease;
                        overflow: hidden;
                    }

                    &:hover blockquote {
                        max-height: 400px;
                    }
                }
            }

            /*** Custom Buttons ***/

            /* h6 is reserved for buttons, hidden */
            h6 {
                display: none;

                & + h1, & + h2,
                & + h3, & + h5 {
                    text-align: center;
                    margin: 20px 0;
                    padding: 0 30px;
                    line-height: initial;

                    a {
                        font-size: 15px;
                        text-transform: uppercase;
                        font-weight: 100;
                        color: #EEE;
                        display: block;
                        padding: 12px 24px;
                        transition: background 0.3s;
                    }
                }

                /* Black Button */
                & + h5 a {
                    // background: rgba(0,0,0,0.5);
                    background: transparentize($gray, 0.2);

                    &:hover {
                        // background: rgba(0,0,0,0.7);
                        background: $gray;
                    }
                }

                /* Blue Button */
                & + h1 a {
                    // background: rgba(18, 64, 86, 0.6);
                    background: transparentize($blue, 0.2);

                    &:hover {
                        // background: rgba(18, 64, 86, 0.7);
                        background: $blue;
                    }
                }

                /* Green Button */
                & + h2 a {
                    // background: rgba(18, 85, 45, 0.6);
                    background: transparentize($green, 0.2);

                    &:hover {
                        // background: rgba(18, 85, 45, 0.7);
                        background: $green;
                    }
                }

                /* Red Button */
                & + h3 a {
                    // background: rgba(85, 18, 18, 0.6);
                    background: transparentize($red, 0.2);

                    &:hover {
                        // background: rgba(85, 18, 18, 0.7);
                        background: $red;
                    }
                }
            }

        } // usertext
    } // titlebox

    #ad_main {
        margin-top: 30px;
    }

    .sidecontentbox {
        margin-top: 30px;

        // About moderators
        li.more {
            border-top: 1px solid $well-border-color;
            padding-top: 3px;
            margin-top: 8px;
        }

        .linkflairlabel {
            display: none;
        }

        .title {
            padding: 4px;
            text-align: center;
            border-bottom: 1px solid #AAA;
            margin-bottom: 20px;
            color: #444;

            h1 {
                color: #444;
            }
        }
        .content {
            padding: 0px;
            border: 0px;

            .right a {
                font-size: 0px;
                &::after {
                    font-size: 10px;
                    content: '[ CLEAR ]';
                }
            }
        }

        .midcol .arrow {
            margin-right: 0px;
            margin-left: 0px;
        }
        .entry {
            margin: 6px 0;
            position: relative;
            left: -8px;
            margin-right: 0px;
        }
        a.reddit-link-title {
            font-weight: 100;
            color: #555;
            border-bottom: 1px solid #CCC;
            display: inline-block;
            padding-bottom: 3px;
            margin-bottom: 1px;
            width: 100%;

            &:hover {
                color: #888;
            }
        }
        .reddit-entry small {
            font-weight: 100;
            padding-left: 1px;
        }
    }

    .account-activity-box {
        text-transform: uppercase;
    }
    // Buttons on moderator page
    .icon-menu a {
        background: none;
    }
}



.goldvertisement {
    margin: 50px 0;
    border: none;
    box-shadow: none;
    padding: 10px;

    h2 {
        padding: 4px;
        text-align: center;
        border-bottom: 1px solid #AAA;
        text-transform: uppercase;
        color: #444;
        margin-bottom: 10px;
        font-family: $default-font-stack;
    }

    .progress {

        .bar {
            border-radius: 0px;
            border-color: #A19868;

            span {
                background-image: none;
                border-radius: 0px;
                background-color: #BFB57C;
            }
        }
    }

    .inner {
        border: none;

        a {
            transition: background 0.3s;
            box-sizing: content-box;
            border: 1px solid #BFBFBF;
            background: $well-bg;
            padding: 3px 12px 2px;
            height: 16px;
            line-height: 16px;
            font-size: 0px;

            margin: 0px;
            color: #666;
            text-transform: uppercase;
            border-radius: 1px;

            &::before {
                content: "Support Reddit";
                font-size: 9px;
            }

            &:hover {
                background: white;
            }
        }

    }
}
