
.side {
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
    order: 10;
    padding: 20px 25px;
    margin: 40px 35px 40px 0px;
    right: 0px;
    min-width: 340px;
    margin-top: 40px;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

    #login_login-main {
        margin-top: 12px;
        background: rgba(255,255,255,0.3);
        padding: 16px;
        border: 1px solid #BBB;
    }
        #login_login-main > input {
            width: 100%;
            margin: 4px 0;
        }


    .side #search input[type='text'] {
        border: 1px solid #CCC;
        padding: 12px;
        text-transform: uppercase;
        width: 100%;
    }
    .side #search input[type='submit'] {
        display: none;
    }
    .side #search input:focus {
        border: 1px solid #BBB;
    }
    #search #searchexpando {
        padding: 12px;
        border: 1px solid #DDD;
        background: #FAFAFA;
        margin-bottom: 40px;
    }
        #searchexpando p {
            margin: 0px;
        }
        #searchexpando #moresearchinfo {
            color: #555;
        }
            #moresearchinfo #search_hidemore {
                letter-spacing: 4px;
            }
            #moresearchinfo p:first-of-type:first-letter {
                text-transform: uppercase;
            }
            #moresearchinfo p:last-child {
                text-align: center;
                margin-top: 10px;
            }
            #moresearchinfo dt {
                margin-top: 12px;
            }

    .side .sidebox {
        margin: 12px 0;
    }
        /* Post Link Button */
        .sidebox .morelink {
            background: rgba(13, 59, 85, 0.6);
            height: initial;
            border: 1px solid #CCC;
            transition: background 0.4s;
        }
        .sidebox:hover .morelink {
            background: rgba(13, 59, 85, 0.8);
        }
        .sidebox .nub {
            display: none;
        }
        .sidebox a {
            font-weight: 100;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: white;
            padding: 8px 12px;
        }

        /* If want to force button text */
        .sidebox a::after {
            visibility: visible;
            font-size: 14px;
            position: absolute;
            left: 0px;
            right: 0px;
            text-align: center;
        }

        /* Create a new subreddit? */
        .sidebox.create {
            display: none;
        }


        /* Num points, etc, on post page */
        .side .linkinfo {
            margin-top: 12px;
            border: 1px solid #BBB;
            background: #FAFAFA;
            border-radius: 0px;
            color: #444;
            text-align: center;
            padding: 12px;
        }

            .linkinfo .date {
                padding-bottom: 3px;
                margin-bottom: 5px;
                border-bottom: 1px solid #CCC;
            }
                .linkinfo .date span {
                    font-size: 0px;
                }
                .linkinfo .date span::before {
                    font-size: 12px;
                    content: 'Submitted on ';
                }
                .side .linkinfo .score {
                    font-weight: 100;
                }
                    .linkinfo .score .number {
                        font-size: 35px;
                    }
                    .linkinfo .score .word {
                        text-transform: uppercase;
                    }
            .side .linkinfo .shortlink > input[type='text']{
                border: 1px solid #BBB;
            }


        /* Subreddit specific sidebar info */
        .side .titlebox {
            margin-top: 12px;
        }
            .titlebox .md hr {
                height: 1px;
                margin: 12px 0;
                color: #BBB;
            }
            .titlebox .md blockquote {
                margin-left: 12px;
                border-left: 2px solid #BFBFBF;
            }
            .titlebox h1.redditname {
                overflow: hidden; /* word wrap not allowed */
                font-size: 24px;
                text-align: center;
                margin: 30px 0 12px;
                padding-bottom: 2px;
                border-bottom: 1px solid #BBB;
                font-family: helvetica, arial, verdana, sans-serif;
            }
                .titlebox h1.redditname a {
                    color: #777;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 100;
                    letter-spacing: 3px;
                }
                .titlebox h1.redditname a:hover {
                    color: black;
                }

            /* Subscribe / Unsubscribe buttons */
            .titlebox .fancy-toggle-button {
                 background: transparent;
                 height: 25px;
                 margin: 12px 0;
                 display: block;
                 text-align: center;
            }
                .titlebox .fancy-toggle-button a {
                    background-image: none;
                    transition: background 0.3s;
                    border-radius: 0px;
                    margin-right: 10px;
                    padding: 5px 24px;
                    text-transform: uppercase;
                    font-weight: 100;
                    border: none;
                }
                .titlebox .fancy-toggle-button.subscribe-button a:hover {
                    background: rgba(134, 36, 53, 0.8);
                }
                .titlebox .fancy-toggle-button.subscribe-button a {
                    background: rgba(134, 36, 53, 0.6);
                    /*border: 1px solid #6F3C44;*/
                }
                .titlebox .fancy-toggle-button.unsubscribe-button a:hover {
                    background: rgba(38, 134, 36, 0.8);
                }
                .titlebox .fancy-toggle-button.unsubscribe-button a {
                    background: rgba(38, 134, 36, 0.6);
                    /*border: 1px solid #3d6f3c;*/
                }
                .titlebox .fancy-toggle-button a.active {
                    display: inline-block;
                }

            /* RES only */
            .titlebox .subButtons {
                text-align: center;
                margin: 12px 0;
            }
                .titlebox .subButtons span.RESshortcut,
                .titlebox .subButtons span.REStoggle {
                    display: inline-block;
                    padding: 4px 12px;
                    background: none;
                    width: auto;
                    width: initial;
                    border-radius: 0px;
                    border: 1px solid #BBB;
                    background: rgba(255,255,255,0.4);
                    font-weight: 100;
                    text-transform: uppercase;
                    transition: background 0.2s;
                    margin-bottom: 12px;
                    color: #555;
                }
                .titlebox .subButtons span.RESshortcut:hover,
                .titlebox .subButtons span.REStoggle:hover {
                    background: rgba(255,255,255,0.8);
                }


            /* Green dot for online */
            .titlebox .users-online {
                display: flex;
                align-items: center;
                text-transform: capitalize;
            }
                .users-online .number {
                    margin-right: 4px;
                }
                .users-online::before {
                    background: #50914e;
                    border-radius: 50%;
                    height: 10px;
                    width: 10px;
                    display: inline-block;
                }
            .titlebox form.flairtoggle {
                background: none;
            }
            .titlebox form.flairtoggle,
            .titlebox .users-online {
                color: #555;
                font-size: 11px;
            }
            .titlebox > .tagline {
                padding: 8px 12px;
                display: table;
                margin: 0 auto;
                margin-top: 10px;
                background: rgba(255,255,255,0.4);
                border: 1px solid #CCC;
                margin-bottom: 24px;
            }

            .titlebox .subscribers {
                display: block;
                text-align: center;
                margin-bottom: 18px;
                float: right;
                color: #777;
                font-size: 11px;
            }

            .titlebox .leavemoderator,
            .titlebox form.leavecontributor-button {
                background: #FAFAFA;
                padding: 12px;
                font-size: 11px;
                border: 1px solid #BBB;
            }
            .titlebox .leavemoderator {
                margin-top: 12px;
                border-bottom: none;
            }
            .titlebox form.leavecontributor-button {
                margin-bottom: 12px;
                border-top: none;
            }
            .icon-menu a {
                background: none;
            }
            .titlebox .bottom {
                margin-top: 10px;
                border-top: 1px solid #BBB;
            }


           /* All custom sidebar markdown stuff */
            .titlebox .usertext {}

                .titlebox .usertext p {
                    margin-top: 12px;
                }

                .titlebox .usertext table {}
                    .md th {
                        background: rgba(0,0,0,0.05);
                    }
                    .md th, .md td {
                        border-color: #BBB;
                    }

                .titlebox pre {
                    border: 1px solid #BBB;
                    border-radius: 0px;
                    background: #FAFAFA;
                    font-size: 11px;
                    padding: 12px;
                }

                .titlebox .usertext h2 {
                    text-align: center;
                    margin-top: 40px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                .titlebox .usertext h2 strong::before,
                .titlebox .usertext h2 strong::after {
                    content: "";
                    height: 50%;
                    width: 30px;
                    display: inline-block;
                    margin: 0 12px;
                    border-bottom: 1px solid #777;
                    position: relative;
                    top: -6px;;
                }


                /*** Inline Title Box ***/

                .titlebox .usertext h4 {
                    font-size: 15px;
                    background: #DBDBDB;
                    left: 14px;
                    top: 10px;
                    display: inline;
                    padding: 0px 6px;
                    font-weight: 100;
                    line-height: 20px;
                    position: relative;
                }
                .titlebox .usertext h4 + blockquote {
                    border: 1px solid #AAA;
                    margin-left: 0px;
                    padding: 16px;
                    margin-top: 0px;
                    padding-top: 14px;
                    margin-bottom: 10px;
                }
                .titlebox .usertext h4 + blockquote blockquote {
                    max-height: 0px;
                    transition: max-height 0.4s ease;
                    overflow: hidden;
                }
                .titlebox .usertext h4 + blockquote:hover blockquote {
                    max-height: 400px;
                }



                /*** Custom Buttons ***/

                /* h6 is reserved for buttons, hidden */
                h6 {
                    display: none;
                }

                /* Button container */
                .titlebox .usertext h6 + h1,
                .titlebox .usertext h6 + h2,
                .titlebox .usertext h6 + h3,
                .titlebox .usertext h6 + h5 {
                    text-align: center;
                    margin: 20px 0;
                    padding: 0 30px;
                    line-height: initial;
                }

                /* Button link  */
                .titlebox .usertext h6 + h1 a,
                .titlebox .usertext h6 + h2 a,
                .titlebox .usertext h6 + h3 a,
                .titlebox .usertext h6 + h5 a {
                    font-size: 15px;
                    text-transform: uppercase;
                    font-weight: 100;
                    color: #EEE;
                    display: block;
                    padding: 12px 24px;
                    transition: background 0.3s;
                }


                .titlebox .usertext h6 + h5 a {
                    background: rgba(0,0,0,0.5);
                }

                /* Black Button */
                .titlebox .usertext h6 + h5 a:hover {
                    background: rgba(0,0,0,0.7);
                }

                /* Blue Button */
                .titlebox .usertext h6 + h1 a {
                    background: rgba(18, 64, 86, 0.6);
                }
                .titlebox .usertext h6 + h1 a:hover {
                    background: rgba(18, 64, 86, 0.7);
                }

                /* Green Button */
                .titlebox .usertext h6 + h2 a {
                    background: rgba(18, 85, 45, 0.6);
                }
                .titlebox .usertext h6 + h2 a:hover {
                    background: rgba(18, 85, 45, 0.7);
                }

                /* Red Button */
                .titlebox .usertext h6 + h3 a {
                    background: rgba(85, 18, 18, 0.6);
                }
                .titlebox .usertext h6 + h3 a:hover {
                    background: rgba(85, 18, 18, 0.7);
                }



    .goldvertisement {
        margin: 50px 0;
        border: none;
        box-shadow: none;
        padding: 10px;
    }

        .goldvertisement h2 {
            padding: 4px;
            text-align: center;
            border-bottom: 1px solid #AAA;
            text-transform: uppercase;
            color: #444;
            margin-bottom: 10px;
            font-family: verdana, arial, helvetica, sans-serif;
        }
        .goldvertisement .progress {
        }
            .goldvertisement .progress .bar {
                border-radius: 0px;
                border-color: #A19868;
            }
                .goldvertisement .progress .bar span {
                    background-image: none;
                    border-radius: 0px;
                    background-color: #BFB57C;
                }
        .goldvertisement .inner {
            border: none;
        }
            .goldvertisement .inner a::before {
                content: "Support Reddit";
                font-size: 9px;
            }
            .goldvertisement .inner a:hover {
                background: white;
            }
            .goldvertisement .inner a {
                transition: background 0.3s;
                box-sizing: content-box;
                border: 1px solid #BFBFBF;
                background: #FAFAFA;
                padding: 3px 12px 2px;
                height: 16px;
                line-height: 16px;
                font-size: 0px;

                margin: 0px;
                color: #666;
                text-transform: uppercase;
                border-radius: 1px;
            }

    .side #ad_main {
        margin-top: 30px;
    }

    /* Recently viewed links, moderators, etc. */
    .side .sidecontentbox {
        margin-top: 30px;
    }
        /* About moderators */
        .side .sidecontentbox li.more {
            border-top: 1px solid #BBB;
            padding-top: 3px;
            margin-top: 8px;
        }
        .side .sidecontentbox .linkflairlabel {
            display: none;
        }
        .sidecontentbox .title {
            padding: 4px;
            text-align: center;
            border-bottom: 1px solid #AAA;
            margin-bottom: 20px;
            color: #444;
        }
            .sidecontentbox .title h1 {
                color: #444;
            }
        .sidecontentbox .content {
            padding: 0px;
            border: 0px;
        }
            .sidecontentbox .content .right a {
                font-size: 0px;
            }
            .sidecontentbox .content .right a::after {
                font-size: 10px;
                content: '[ CLEAR ]';
            }

            .sidecontentbox .midcol {
                /*display: none;*/
            }
                .sidecontentbox .midcol .arrow {
                    margin-right: 0px;
                    margin-left: 0px;
                }
            .sidecontentbox .entry {
                margin: 6px 0;
                position: relative;
                left: -8px;
                margin-right: 0px;
            }
                .sidecontentbox a.reddit-link-title {
                    font-weight: 100;
                    color: #555;
                    border-bottom: 1px solid #CCC;
                    display: inline-block;
                    padding-bottom: 3px;
                    margin-bottom: 1px;
                    width: 100%;
                }
                .sidecontentbox a.reddit-link-title:hover {
                    color: #888;
                }
                .sidecontentbox .reddit-entry small {
                    font-weight: 100;
                    padding-left: 1px;
                }
        .account-activity-box {
            text-transform: uppercase;
        }
