/* Wiki Page styles */

.wiki-page {

}
.wiki-page .infobar + span {
    display: block;
    margin-top: 30px;
}
    .wiki-page .infobar .wikititle {
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 40px;
    }
        .wiki-page .infobar + span h1 strong {
            font-weight: 100;
            text-transform: uppercase;
            font-size: 30px;
        }
    .wiki-page .pageactions {
        margin: 0px;
        text-align: center;
        width: 100%;
        border-right: 0px;
        border-left: 0px;
        padding: 0px;
        height: 50px;
        border-radius: 0px;
        background: #FAFAFA;
        height: auto;
        height: initial;
    }
        .wiki-page .pageactions a.wikiaction {
            margin: 0px;
            border-radius: 0px;
            width: 90px;
            padding: 0px;
            text-align: center;
            text-transform: uppercase;
            font-weight: 300;
            height: 50px;
            line-height: 50px;
        }
.wiki-page .wiki-page-content {
    padding: 100px;
    padding-top: 20px;
    width: 100%;
    margin: 0px;
    font-size: 13px;
}
    .wiki-page-content p,
    .wiki-page-content li,
    .wiki-page-content em {
        font-size: 12px;
        font-family: helvetica, verdana, arial, sans-serif;
    }
    .wiki-page-content em {
        color: #999;
    }
    .wiki-page .wiki-page-content .wiki > .toc > ul {
        background: #FAFAFA;
        border: 1px solid #BBB;
        font-size: 13px;
        max-width: 400px;
        padding: 16px 34px;
    }
        .wiki-page .wiki-page-content .wiki > .toc > ul ul {
            border-left: 1px solid #CCC;
        }
