
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* background: #32576b; */

input:focus, textarea:focus {
    outline: none;
}

.debuginfo, .trending-subreddits, .sidebox.create .spacer, #hsts_pixel,
#jumpToContent {
    display: none;
}
.spacer {
    margin: 0px !important;
}

.link.last-clicked {
    border: none; /* No dashed lines! */
    overflow: visible;
}

.md {
    color: #444;
}
.md a, a {
    color: #5777A8;

}
.md a:hover, a:hover {
    color: hsl(216, 31%, 65%);
}

button {
    padding: 6px 16px;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #DDD;
    outline: none;
    box-sizing: content-box;
    transition: background 0.2s;
    text-transform: uppercase;
}

a:visited {
    color: #8D5BA4;
}

.content textarea, .content input[type=url],
.content input[type=email], .content input[type=text],
.content input[type=password], .content input[type=email] {
    padding: 8px;
    border: 1px solid #DDD;
    background: #FEFEFE;
    transition: background 0.2s;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0px;
    box-shadow: none;
}
button:hover, .content textarea:focus, .content input[type=url]:focus,
.content input[type=email]:focus, .content input[type=text]:focus,
.content input[type=password]:focus, .content input[type=email]:focus {
    background: rgba(0, 0, 0, 0.1);
}
button:disabled, .content textarea:disabled, .content input[type=url]:disabled,
.content input[type=email]:disabled, .content input[type=text]:disabled,
.content input[type=password]:disabled, .content input[type=email]:disabled {
    background: rgba(0, 0, 0, 0.1);
    cursor: not-allowed;
}
button:active, .content textarea:active, .content input[type=url]:active,
.content input[type=email]:active, .content input[type=text]:active,
.content input[type=password]:active, .content input[type=email]:active {
    background: rgba(0, 0, 0, 0.2);
}

body {
    position: relative;

    display: flex;
    align-items: flex-start;
    padding: 210px 0 350px; /* Same as header and footer heights */
    flex-direction: row;
    /*
    background: url(%%gradient%%);
    */
    background: url('http://i.imgur.com/VsrAZoQ.png');
    background-color: hsl(194, 7%, 30%);
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: helvetica, verdana, arial, sans-serif;
    color: #444;
}
body::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    /*
    background: url(%%background%%);
    */
    background: url('http://i.imgur.com/teQbNM5.png');
    opacity: 0.4;
    top: 0;
}

.linkflairlabel, .flair {
    margin: 0px;
    margin-right: 4px;
    padding: 2px 8px;
    border-radius: 1px;
    border: 1px solid #DFDFDF;
    font-size: 10px;
}
.side .flair {
    border-color: #BBB;
}

/* Drop down container for top, comments, etc. */
.menuarea {
    text-align: center;
    border-bottom: none;
    padding-top: 12px;
}


#header {
    position: absolute;
    width: 100%;
    top: 0px;
    background: transparent;
    border-bottom: none;
    height: 210px;
    z-index: 2;
}
    #header-bottom-left {
        position: absolute;
        bottom: 0px;


        /* Tab-bar side 'padding': 25px
           Side margins: 35px
           Sidebar width: 340px */
        left: 60px; /* Padding + margin */
        right: 400px; /* Sidebar + margin + padding */

        background: rgba(50, 60, 70, 0.8);
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        text-align: center;

        /* Need to push up redditname when no tabs */
        min-height: 48px;
    }

    /* Tabs being supplied elsewhere */
    .submit-page #header-bottom-left {
        visibility: hidden;
    }

        #header #header-img {
            visibility: visible;
            position: absolute;
            left: -40px;
            top: -140px;
            width: 64px;
            height: 64px;
            background-position: -184px -4px;

            /* spritesheet - do not delete comment */
            /*
            background-image: url(%%spritesheet%%);
            */
            background-image: url('http://i.imgur.com/ZoRkI3m.png');
            opacity: 0.8;
            transition: opacity 0.2s;
        }
        #header #header-img:hover {
            opacity: 1;
        }

        #header-bottom-left .redditname {
            visibility: visible;
            position: absolute;
            height: 80px;
            line-height: 80px;
            top: -80px;
            left: 0px;
            width: 100%;
            color: white;
        }
        #header-bottom-left .redditname a {
            color: white;
            font-size: 50px;
            font-family: helvetica, verdana, arial, sans-serif;
            font-weight: 100;
            letter-spacing: 14px;
            font-variant: small-caps;
            text-transform: lowercase;
        }
        #header-bottom-left .redditname a:hover {
            text-decoration: none;
        }
        #header-bottom-left .redditname a::before {
            content: '/r/';
        }
        ul.tabmenu {
            font-size: 12px;
            margin: 0px;
            display: inline-block;
        }
            .tabmenu li {
                height: 48px;
                line-height: 48px;
                padding: 0 8px;
                margin: 0px;
                min-width: 60px;
                display: inline-block;
                transition: background 0.2s;
            }
            .tabmenu li:hover {
                background: rgba(255, 255, 255, 0.1);
                border-bottom: 3px solid rgba(255, 255, 255, 0.1);
            }
            .tabmenu li.selected {
                border-bottom: 3px solid #9CD3E6;
            }
            .tabmenu li.selected a {
                background: transparent;
                border: none;

                /* Important for both submit page and normal page */
                color: #FF5C72 !important;
            }
            .tabmenu li a {
                font-weight: 100;
                letter-spacing: 1px;
                background: transparent;
                color: #EEE;
                text-transform: uppercase;

                display: block;
                height: 100%;
            }


    #header-bottom-right {
        position: absolute;
        top: 25px;
        bottom: initial;
        background: transparent;
        margin: 10px;
        margin-right: 18px;
        padding: 0px;
    }

        /* For RES Users */
        #header-bottom-right.res-navTop {
            background: rgba(40,40,40,0.3);
            margin-right: 0px;
            height: 40px;
            line-height: 40px;
            font-size: 11px;
            font-weight: 100;
        }
            #header-bottom-right #userbarToggle {
                border-radius: 0px;
                background: rgba(60,60,60,0.8);
                transition: background 0.2s, color 0.2s;
                border: none;
                width: 40px;
                left: -40px;
                text-align: center;
                line-height: 35px;
                padding: 0px;
                font-size: 40px;
                font-weight: 100;
                color: #DDD;
            }
            #header-bottom-right #userbarToggle:hover {
                color: #FFF;
                background: rgba(60,60,60,0.9);
            }
            #header-bottom-right.res-navTop .separator {
                margin: 0px 10px;
                width: 1px;
                height: 100%;
                text-indent: 10px;
                background: #999;
            }

            #header-bottom-right.res-navTop a,
            #header-bottom-right.res-navTop a:visited {
                color: white;
            }
            #header-bottom-right.res-navTop * {
                text-transform: capitalize;
                font-weight: normal;
            }
            #header-bottom-right.res-navTop .message-count {
                border-radius: 0px;
                width: 30px;
                text-align: center;
                font-size: 12px;
                margin-left: 6px;
            }

            #header-bottom-right.res-navTop .user {
                margin-left: 12px;
            }
            #header-bottom-right.res-navTop .logout {
                margin-right: 12px;
            }


        /* Use first separator as element to expand menu */
        #header-bottom-right:not(.res-navTop) .separator {
            top: 0px;
            background: rgba(60,60,60,0.9);
            width: 45px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            display: block;

            overflow: hidden;
            font-size: 0px;

            margin: 0px;
            position: absolute;
            top: 0px;
            right: 0px;
            z-index: -1;
            border-radius: 2px;
        }
        #header-bottom-right:not(.res-navTop):hover .separator {
            background: rgba(60,60,60,1);
        }
        #header-bottom-right:not(.res-navTop) .separator::before {
            content: '☰';
            color: white;

            font-size: 20px;
        }

        /* All other separators */
        #header-bottom-right:not(.res-navTop) .separator ~ .separator {
            display: none;
            padding: 12px;
        }

        #header-bottom-right .beta-hint[style],
        #header-bottom-right .beta-hint {
            display: none !important;
        }

        #header-bottom-right:not(.res-navTop):hover > a#modmail,
        #header-bottom-right:not(.res-navTop):hover > a#mail,
        #header-bottom-right:not(.res-navTop):hover > ul,
        #header-bottom-right:not(.res-navTop):hover > .user,
        #header-bottom-right:not(.res-navTop):hover > form.logout {
            display: block;
        }

        #header-bottom-right:not(.res-navTop) > a#mail,
        #header-bottom-right:not(.res-navTop) > a#modmail,
        #header-bottom-right:not(.res-navTop) > ul a,
        #header-bottom-right:not(.res-navTop) > .user a,
        #header-bottom-right:not(.res-navTop) > form.logout a {
            padding: 13px 40px;
            padding-right: 10px;
            display: inline-block;
            text-decoration: none;
        }

        #header-bottom-right:not(.res-navTop) > a#mail,
        #header-bottom-right:not(.res-navTop) > a#modmail,
        #header-bottom-right:not(.res-navTop) > ul,
        #header-bottom-right:not(.res-navTop) > .user,
        #header-bottom-right:not(.res-navTop) > form.logout {
            display: none;

            margin: 0px;
            background: rgba(60,60,60,0.9);
            width: 100%;
            position: static;
            text-transform: capitalize;
        }

        #header-bottom-right:not(.res-navTop) > a#mail:hover,
        #header-bottom-right:not(.res-navTop) > a#modmail:hover,
        #header-bottom-right:not(.res-navTop) > ul:hover,
        #header-bottom-right:not(.res-navTop) > .user:hover,
        #header-bottom-right:not(.res-navTop) > form.logout:hover {
            background: rgba(60,60,60,1);
        }

        #header-bottom-right:not(.res-navTop) #mail, #header-bottom-right:not(.res-navTop) #modmail {
            text-indent: 0px;
            height: initial;
        }

        #header-bottom-right:not(.res-navTop) .user {
            margin-top: 50px;
            padding-right: 55px;
            font-size: 0px;
        }

            #header-bottom-right:not(.res-navTop) a {
                color: #FFF;
                font-weight: 100;
                font-size: 13px;
            }


        /* New mail! */
        #header-bottom-right:not(.res-navTop) > a#mail.havemail {
            background: rgba(105, 38, 38, 0.6);
        }
        #header-bottom-right:not(.res-navTop) > a#mail.havemail:hover {
            background: rgba(105, 38, 38, 0.7);
        }
        #header-bottom-right:not(.res-navTop):hover .message-count {
            display: none;
        }
        #header-bottom-right .message-count {
            background: rgba(255, 92, 92, 0.63);
        }



    #sr-header-area {
        background: rgba(0,0,0,0.2);
        border: none;
        padding: 0 12px;
        height: 24px;
        line-height: 24px;
    }
        #sr-header-area, #sr-header-area a,
        #sr-header-area .dropdown.srdrop .selected {
            color: #AAA;
            height: 24px;
            line-height: 24px;
        }
        #sr-header-area a:hover, #sr-header-area .dropdown.srdrop .selected:hover {
            color: #DDD;
        }

        #RESShortcutsEditContainer, #RESShortcutsEditContainer > * {
            background: transparent;
            color: #AAA;
            height: 24px;
            line-height: 24px;
        }
        #RESShortcutsEditContainer > *:hover {
            color: #DDD;
        }


.side {
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
    order: 10;
    padding: 20px 25px;
    margin: 40px 35px 40px 0px;
    right: 0px;
    min-width: 340px;
    margin-top: 40px;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

    #login_login-main {
        margin-top: 12px;
        background: rgba(255,255,255,0.3);
        padding: 16px;
        border: 1px solid #BBB;
    }
        #login_login-main > input {
            width: 100%;
            margin: 4px 0;
        }


    .side #search input[type='text'] {
        border: 1px solid #CCC;
        padding: 12px;
        text-transform: uppercase;
        width: 100%;
    }
    .side #search input[type='submit'] {
        display: none;
    }
    .side #search input:focus {
        border: 1px solid #BBB;
    }
    #search #searchexpando {
        padding: 12px;
        border: 1px solid #DDD;
        background: #FAFAFA;
        margin-bottom: 40px;
    }
        #searchexpando p {
            margin: 0px;
        }
        #searchexpando #moresearchinfo {
            color: #555;
        }
            #moresearchinfo #search_hidemore {
                letter-spacing: 4px;
            }
            #moresearchinfo p:first-of-type:first-letter {
                text-transform: uppercase;
            }
            #moresearchinfo p:last-child {
                text-align: center;
                margin-top: 10px;
            }
            #moresearchinfo dt {
                margin-top: 12px;
            }

    .side .sidebox {
        margin: 12px 0;
    }
        /* Post Link Button */
        .sidebox .morelink {
            background: rgba(13, 59, 85, 0.6);
            height: 48px;
            line-height: 48px;
            border: 1px solid #CCC;
            transition: background 0.4s;
        }
        .sidebox:hover .morelink {
            background: rgba(13, 59, 85, 0.8);
        }
        .sidebox .nub {
            display: none;
        }
        .sidebox a {
            font-weight: 100;
            letter-spacing: 2px;
            text-transform: uppercase;
            visibility: hidden;
            color: white;
        }
        .sidebox a::after {
            visibility: visible;
            content: "POST LINK";
            font-size: 14px;
            position: absolute;
            left: 0px;
            right: 0px;
            text-align: center;
        }
        .sidebox.submit-text, .sidebox.create {
            display: none;
        }


        /* Num points, etc, on post page */
        .side .linkinfo {
            margin-top: 12px;
            border: 1px solid #BBB;
            background: #FAFAFA;
            border-radius: 0px;
            color: #444;
            text-align: center;
            padding: 12px;
        }

            .linkinfo .date {
                padding-bottom: 3px;
                margin-bottom: 5px;
                border-bottom: 1px solid #CCC;
            }
                .linkinfo .date span {
                    font-size: 0px;
                }
                .linkinfo .date span::before {
                    font-size: 12px;
                    content: 'Submitted on ';
                }
                .side .linkinfo .score {
                    font-weight: 100;
                }
                    .linkinfo .score .number {
                        font-size: 35px;
                    }
                    .linkinfo .score .word {
                        text-transform: uppercase;
                    }
            .side .linkinfo .shortlink > input[type='text']{
                border: 1px solid #BBB;
            }


        /* Subreddit specific sidebar info */
        .side .titlebox {
            margin-top: 12px;
        }
            .titlebox .md hr {
                height: 1px;
                margin: 12px 0;
                color: #BBB;
            }
            .titlebox .md blockquote {
                margin-left: 12px;
                border-left: 2px solid #BFBFBF;
            }
            .titlebox h1.redditname {
                overflow: hidden; /* word wrap not allowed */
                font-size: 24px;
                text-align: center;
                margin: 50px 0 12px;
                padding-bottom: 2px;
                border-bottom: 1px solid #BBB;
                font-family: helvetica, arial, verdana, sans-serif;
            }
                .titlebox h1.redditname a {
                    color: #777;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 100;
                    letter-spacing: 3px;
                }
                .titlebox h1.redditname a:hover {
                    color: black;
                }

            /* Subscribe / Unsubscribe buttons */
            .titlebox .fancy-toggle-button {
                 background: transparent;
                 height: 25px;
                 margin: 12px 0;
                 display: block;
                 text-align: center;
            }
                .titlebox .fancy-toggle-button a {
                    background-image: none;
                    transition: background 0.3s;
                    border-radius: 0px;
                    margin-right: 10px;
                    padding: 5px 24px;
                    text-transform: uppercase;
                    font-weight: 100;
                    border: none;
                }
                .titlebox .fancy-toggle-button.subscribe-button a:hover {
                    background: rgba(134, 36, 53, 0.8);
                }
                .titlebox .fancy-toggle-button.subscribe-button a {
                    background: rgba(134, 36, 53, 0.6);
                    /*border: 1px solid #6F3C44;*/
                }
                .titlebox .fancy-toggle-button.unsubscribe-button a:hover {
                    background: rgba(38, 134, 36, 0.8);
                }
                .titlebox .fancy-toggle-button.unsubscribe-button a {
                    background: rgba(38, 134, 36, 0.6);
                    /*border: 1px solid #3d6f3c;*/
                }
                .titlebox .fancy-toggle-button a.active {
                    display: inline-block;
                }

            /* RES only */
            .titlebox .subButtons {
                text-align: center;
                margin: 12px 0;
            }
                .titlebox .subButtons span.RESshortcut,
                .titlebox .subButtons span.REStoggle {
                    display: inline-block;
                    padding: 4px 12px;
                    background: none;
                    width: auto;
                    width: initial;
                    border-radius: 0px;
                    border: 1px solid #BBB;
                    background: rgba(255,255,255,0.4);
                    font-weight: 100;
                    text-transform: uppercase;
                    transition: background 0.2s;
                    margin-bottom: 12px;
                    color: #555;
                }
                .titlebox .subButtons span.RESshortcut:hover,
                .titlebox .subButtons span.REStoggle:hover {
                    background: rgba(255,255,255,0.8);
                }


            /* Green dot for online */
            .titlebox .users-online {
                display: flex;
                align-items: center;
                text-transform: capitalize;
            }
                .users-online .number {
                    margin-right: 4px;
                }
                .users-online::before {
                    background: #50914e;
                    border-radius: 50%;
                    height: 10px;
                    width: 10px;
                    display: inline-block;
                }
            .titlebox form.flairtoggle {
                background: none;
            }
            .titlebox form.flairtoggle,
            .titlebox .users-online {
                color: #555;
                font-size: 11px;
            }
            .titlebox > .tagline {
                padding: 8px 12px;
                display: table;
                margin: 0 auto;
                margin-top: 10px;
                background: rgba(255,255,255,0.4);
                border: 1px solid #CCC;
                margin-bottom: 24px;
            }

            .titlebox .subscribers {
                display: block;
                text-align: center;
                margin-bottom: 18px;
                float: right;
                color: #777;
                font-size: 11px;
            }

            .titlebox .leavemoderator,
            .titlebox form.leavecontributor-button {
                background: #FAFAFA;
                padding: 12px;
                font-size: 11px;
                border: 1px solid #BBB;
            }
            .titlebox .leavemoderator {
                margin-top: 12px;
                border-bottom: none;
            }
            .titlebox form.leavecontributor-button {
                margin-bottom: 12px;
                border-top: none;
            }
            .icon-menu a {
                background: none;
            }
            .titlebox .bottom {
                margin-top: 10px;
                border-top: 1px solid #BBB;
            }


           /* All custom sidebar markdown stuff */
            .titlebox .usertext {}

                .titlebox .usertext p {
                    margin-top: 12px;
                }

                .titlebox .usertext table {}
                    .md th {
                        background: rgba(0,0,0,0.05);
                    }
                    .md th, .md td {
                        border-color: #BBB;
                    }

                .titlebox pre {
                    border: 1px solid #BBB;
                    border-radius: 0px;
                    background: #FAFAFA;
                    font-size: 11px;
                    padding: 12px;
                }

                .titlebox .usertext h2 {
                    text-align: center;
                    margin-top: 55px;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                .titlebox .usertext h2 strong::before,
                .titlebox .usertext h2 strong::after {
                    content: "";
                    height: 50%;
                    width: 30px;
                    display: inline-block;
                    margin: 0 12px;
                    border-bottom: 1px solid #777;
                    position: relative;
                    top: -6px;;
                }


                /*** Inline Title Box ***/

                .titlebox .usertext h4 {
                    font-size: 15px;
                    background: #DBDBDB;
                    left: 14px;
                    top: 10px;
                    display: inline;
                    padding: 0px 6px;
                    font-weight: 100;
                    line-height: 20px;
                    position: relative;
                }
                .titlebox .usertext h4 + blockquote {
                    border: 1px solid #AAA;
                    margin-left: 0px;
                    padding: 16px;
                    margin-top: 0px;
                    padding-top: 14px;
                    margin-bottom: 10px;
                }
                .titlebox .usertext h4 + blockquote blockquote {
                    max-height: 0px;
                    transition: max-height 0.4s ease;
                    overflow: hidden;
                }
                .titlebox .usertext h4 + blockquote:hover blockquote {
                    max-height: 400px;
                }



                /*** Custom Buttons ***/

                /* h6 is reserved for buttons, hidden */
                h6 {
                    display: none;
                }

                /* Button container */
                .titlebox .usertext h6 + h1,
                .titlebox .usertext h6 + h2,
                .titlebox .usertext h6 + h3,
                .titlebox .usertext h6 + h5 {
                    text-align: center;
                    margin: 20px 0;
                    padding: 0 30px;
                    line-height: initial;
                }

                /* Button link  */
                .titlebox .usertext h6 + h1 a,
                .titlebox .usertext h6 + h2 a,
                .titlebox .usertext h6 + h3 a,
                .titlebox .usertext h6 + h5 a {
                    font-size: 15px;
                    text-transform: uppercase;
                    font-weight: 100;
                    color: #EEE;
                    display: block;
                    padding: 12px 24px;
                    transition: background 0.3s;
                }


                .titlebox .usertext h6 + h5 a {
                    background: rgba(0,0,0,0.5);
                }

                /* Black Button */
                .titlebox .usertext h6 + h5 a:hover {
                    background: rgba(0,0,0,0.7);
                }

                /* Blue Button */
                .titlebox .usertext h6 + h1 a {
                    background: rgba(18, 64, 86, 0.6);
                }
                .titlebox .usertext h6 + h1 a:hover {
                    background: rgba(18, 64, 86, 0.7);
                }

                /* Green Button */
                .titlebox .usertext h6 + h2 a {
                    background: rgba(18, 85, 45, 0.6);
                }
                .titlebox .usertext h6 + h2 a:hover {
                    background: rgba(18, 85, 45, 0.7);
                }

                /* Red Button */
                .titlebox .usertext h6 + h3 a {
                    background: rgba(85, 18, 18, 0.6);
                }
                .titlebox .usertext h6 + h3 a:hover {
                    background: rgba(85, 18, 18, 0.7);
                }



    .goldvertisement {
        margin: 50px 0;
        border: none;
        box-shadow: none;
        padding: 10px;
    }

        .goldvertisement h2 {
            padding: 4px;
            text-align: center;
            border-bottom: 1px solid #AAA;
            text-transform: uppercase;
            color: #444;
            margin-bottom: 10px;
            font-family: verdana, arial, helvetica, sans-serif;
        }
        .goldvertisement .progress {
        }
            .goldvertisement .progress .bar {
                border-radius: 0px;
                border-color: #A19868;
            }
                .goldvertisement .progress .bar span {
                    background-image: none;
                    border-radius: 0px;
                    background-color: #BFB57C;
                }
        .goldvertisement .inner {
            border: none;
        }
            .goldvertisement .inner a::before {
                content: "Support Reddit";
                font-size: 9px;
            }
            .goldvertisement .inner a:hover {
                background: white;
            }
            .goldvertisement .inner a {
                transition: background 0.3s;
                box-sizing: content-box;
                border: 1px solid #BFBFBF;
                background: #FAFAFA;
                padding: 3px 12px 2px;
                height: 16px;
                line-height: 16px;
                font-size: 0px;

                margin: 0px;
                color: #666;
                text-transform: uppercase;
                border-radius: 1px;
            }

    /* Recently viewed links, moderators, etc. */
    .side .sidecontentbox {
        margin-top: 50px;
    }
        /* About moderators */
        .side .sidecontentbox li.more {
            border-top: 1px solid #BBB;
            padding-top: 3px;
            margin-top: 8px;
        }
        .side .sidecontentbox .linkflairlabel {
            display: none;
        }
        .sidecontentbox .title {
            padding: 4px;
            text-align: center;
            border-bottom: 1px solid #AAA;
            margin-bottom: 20px;
            color: #444;
        }
            .sidecontentbox .title h1 {
                color: #444;
            }
        .sidecontentbox .content {
            padding: 0px;
            border: 0px;
        }
            .sidecontentbox .content .right a {
                font-size: 0px;
            }
            .sidecontentbox .content .right a::after {
                font-size: 10px;
                content: '[ CLEAR ]';
            }

            .sidecontentbox .midcol {
                display: none;
            }
            .sidecontentbox .entry {
                margin: 6px 0;
            }
                .sidecontentbox a.reddit-link-title {
                    font-weight: 100;
                    color: #555;
                    border-bottom: 1px solid #CCC;
                    display: inline-block;
                    padding-bottom: 3px;
                    margin-bottom: 1px;
                    width: 100%;
                }
                .sidecontentbox a.reddit-link-title:hover {
                    color: #888;
                }
                .sidecontentbox .reddit-entry small {
                    font-weight: 100;
                    padding-left: 1px;
                }
        .account-activity-box {
            text-transform: uppercase;
        }


.listing-chooser {
    display: none;
}

body > .content {
    z-index: 3;
    position: relative;
    /*align-self: stretch;*/
    border-radius: 2px;
    background: white;
    width: 100%;
    margin: 0 0 0 35px !important;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

/* Needed to offset absolutely positioned nav buttons */
#siteTable {
    padding-bottom: 45px;
}
    #siteTable .thing:first-child {
        padding-top: 20px;
    }
     #siteTable .thing {
        padding: 8px 20px;
        margin: 0px;

        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .listing-page #siteTable .thing:hover {
        background: #F2F2F2;
    }
        .rank {
            display: none;
        }
        .midcol { /* Votes */
            min-width: 40px !important;
            margin: 0px;
            overflow: visible;
        }
            .midcol .score {
                font-weight: normal;
                color: #757575;
            }
            .midcol .arrow {
                background: none;
                color: #666;
                font-size: 1.4em;
            }
            .midcol .arrow::before {
                content: '➤';
                display: block;
            }
            .midcol .arrow.upmod, .link .score.likes {
                color: #B37159;
            }
            .midcol .arrow.up:hover {
                color: #D98A6C;
            }
            .midcol .arrow.up, .midcol .arrow.upmod {
                margin-bottom: 10px;
            }
            .midcol .arrow.up::before, .midcol .arrow.upmod::before {
                -ms-transform: rotate(-90deg) scaleY(1.3);
                -webkit-transform: rotate(-90deg) scaleY(1.3);
                transform: rotate(-90deg) scaleY(1.3);
                position: relative;
                left: -1px;
            }
            .midcol .arrow.down:hover {
                color: #6C6CD9;
            }
            .comment .midcol .arrow.down, .comment .midcol .arrow.downmod {
                position: relative;
                /*right: -1px;*/
            }
            .midcol .arrow.downmod, .link .score.dislikes {
                color: #5959B3;
            }
            .midcol .arrow.down::before, .midcol .arrow.downmod::before {
                -ms-transform: rotate(90deg) scaleY(1.3);
                -webkit-transform: rotate(90deg) scaleY(1.3);
                transform: rotate(90deg) scaleY(1.3);
            }

        .thumbnail {
            background: #85a4be;
            height: 70px !important;
            min-width: 70px;
            margin: 0 20px;
            border-radius: 5px;
            border: 1px solid #DDD;
            overflow: hidden;
            text-align: center;
            position: relative;
        }

        .thumbnail.default, .thumbnail.self, .thumbnail.nsfw {
            background-image: none;
        }
        .thumbnail::after {
            background: rgba(255,255,255,0.2);
            pointer-events: none;
            opacity: 1;
        }
        .thumbnail::after, .thumbnail.default::before, .thumbnail.self::before, .thumbnail.nsfw::before {
            position: absolute;
            display: block;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            content: "";
            overflow: hidden;
        }
            .thumbnail.default::before, .thumbnail.self::before, .thumbnail.nsfw::before {
                /* spritesheet */
                /*
                background-image: url(%%spritesheet%%);
                */
                background-image: url('http://i.imgur.com/ZoRkI3m.png');
                opacity: 0.9;
            }
            .thumbnail:hover::after {
                background: rgba(255,255,255,0.4);
            }
            .thumbnail.default::before {
                /* Icon Question */
                background-position: -82px -80px;
            }
            .thumbnail.self::before {
                /* Icon Discussion */
                background-position: -82px -4px;
            }
            .thumbnail.nsfw::before {
                /* Icon Warn */
                background-position: -184px -76px;
            }
            .thumbnail img {
                display: inline-block;
                height: 100%;
                width: auto;
            }

        #siteTable .entry {
            /* for tooltips */
            overflow: visible;

            position: relative;
            width: 100%;
            padding-right: 15px;
            display: flex;
            flex-wrap: wrap;
        }
        html.res #siteTable .entry {
            padding: 4px 10px 10px 12px;
            border-radius: 3px;
        }

            /* When looking at preview of image */
            .entry > .madeVisible {
                display: block;
                width: 100%;
                margin: 30px;
            }

            .thing p.title {
                line-height: 20px;
                padding: 7px 0;
                margin: 5px 0 2px;
                border-bottom: 1px solid #DDD;
                padding-right: 30px;
                width: 100%;
            }
            .listing-page .thing:hover p.title {
                padding-right: 110px;
            }
                .thing .linkflairlabel, .thing .domain {
                    display: inline;
                }
                .thing .domain, .thing .domain a {
                    color: #BBB;
                    font-weight: 100;
                }

                .thing a.title,
                .comments-page .thing a.title:visited {
                    color: #444;
                }
                .thing a.title:hover {
                    color: #5777A8;
                }
                .listing-page .thing a.title:visited {
                    color: #666;
                }
                .thing a.title:visited:hover {
                    color: #8D5BA4;
                }
                .thing:hover a.title {
                    font-size: 16px;
                }

            /* Preview content button */
            #siteTable .expando-button {
                height: 18px;
                margin-top: 0px;
                background: transparent;
                margin-bottom: 0px;
                cursor: pointer;

                /* Spritesheet */
                /*
                background-image: url(%%spritesheet%%);
                */
                background-image: url('http://i.imgur.com/ZoRkI3m.png');
                opacity: 0.6;
            }
            #siteTable .expando-button.selftext {
                /* Comment Icon */
                background-position: -56px -4px;
                opacity: 0.7;
            }


            /* Form that shows up after you click report */
            #siteTable .report-action-form,
            #siteTable .post-sharing {
                background: #FAFAFA;
                border-radius: 0px;
                padding: 12px;
                max-width: none;
                border: 1px solid #BBB;
                width: 100%;
                margin: 12px;
                margin-right: 65%;
            }
                .report-action-form .reason-prompt {
                    padding-bottom: 1px;
                    display: inline-block;
                    padding-bottom: 2px;
                    margin-bottom: 8px;
                    border-bottom: 1px solid #DDD;
                    width: 80%;
                    font-weight: bold;
                }
                .report-action-form .reason-prompt:first-letter {
                    text-transform: uppercase;
                }
                .report-action-form .report-action-form label > input[type='radio'] {
                    margin-right: 12px;
                }
                .report-action-form .report-action-form button[type='submit'] {
                    margin-right: 6px;
                }

                .post-sharing .post-sharing-main {
                    pointer-events: none
                }






            /* Hide dash separator when text is expanded */
            #siteTable .expando-button.expanded ~ .flat-list .first::after {
                display: none;
            }
                .expando .usertext-body .md {
                    border: 1px solid #DDD;
                    border-radius: 0px;
                }
            /* First selector for RES */
            #siteTable .expando-button.image,
            #siteTable .expando-button.video {
                /* Camera Icon */
                background-position: -4px -4px;
            }



            .thing .tagline {
                order: 2;
                line-height: 18px;
                font-size: 0px;
            }

                /* Remove the word 'submitted' from the tagline */
                .thing .tagline time,
                .thing .tagline .author {
                    font-size: x-small;
                }
                .thing .tagline time::after {
                    content: 'by';
                    padding: 0 3px;
                }
            /* Number of comments */

            .flat-list {
                text-transform: uppercase;
            }
            .listing-page .link .flat-list {
                padding: 0px;
                text-transform: uppercase;
            }
            .listing-page .flat-list.buttons li.first {
                text-transform: uppercase;
            }
            .entry .buttons li a {
                font-weight: normal;
                font-size: 9px;
            }
            .listing-page .flat-list.buttons li.first {
                line-height: 18px;
            }
            /*.listing-page .flat-list.buttons li.first::after {*/
            .flat-list.buttons::after {
                content: '—';
                padding: 0 10px;
                color: #888;
            }

            /* NSFW Tag */
            .listing-page .flat-list.buttons .nsfw-stamp {
                border-radius: 1px;
                color: #B93F4F;
                border-color: #B93F4F;
            }

            /* Show/hide corner icons on link hover */
            .loggedin.listing-page .thing:hover .flat-list.buttons li.first ~ li {
                opacity: 0.9;
            }

            /* Corner button containers */
            .loggedin.listing-page .flat-list.buttons li.first ~ li {
                opacity: 0;

                white-space: nowrap;
                width: 15px;

                position: absolute;
                top: 0px;
                text-align: center;
                color: white;
            }
                /* Corner button icons */
                .loggedin.listing-page .flat-list.buttons li.first ~ li::after {
                    opacity: 0.6;

                    position: absolute;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    text-align: center;

                    /* Spritesheet */
                    /*
                    background-image: url(%%spritesheet%%);
                    */
                    background-image: url('http://i.imgur.com/ZoRkI3m.png');
                    background-repeat: no-repeat;
                    content: '';
                    width: 18px;
                    height: 18px;
                    pointer-events: none;
                    transition: opacity 0.15s;

                }

                /* Icons on hover */
                .loggedin.listing-page .flat-list.buttons li.first ~ li:hover::after {
                    opacity: 1;
                }

                /* Tooltips */
                .loggedin.listing-page .flat-list.buttons li.first ~ li a {
                    opacity: 0;

                    position: absolute;
                    top: -20px;
                    left: 0px;
                    bottom: 0px;
                    display: block;
                    height: 40px;

                    color: white;
                    font-weight: 100;
                    text-transform: uppercase;

                    /* Can't have correct padding on tooltips without
                       sacrificing perfect hover on icons */
                    /*width: 18px;*/
                }

                /* Tooltips on hover */
                .loggedin.listing-page .flat-list.buttons li.first ~ li a:hover {
                    text-decoration: none;
                    opacity: 1;
                }
                    /* Background for tooltip */
                    .loggedin.listing-page .flat-list.buttons li.first ~ li a::after {
                        content: "";
                        border-radius: 2px;
                        background: rgba(0,0,0,0.7);
                        display: block;
                        height: 22px;
                        position: absolute;
                        top: -3px;
                        left: -7px;
                        right: -7px;
                        padding-right: 10px;
                        z-index: -1
                    }

                /* Cancel styles for extra buttons from res / being moderator */
                .res.loggedin.listing-page .flat-list.buttons li.report-button + li,
                .moderator.listing-page .flat-list.buttons li.share +li+li+li ~ li {
                    opacity: 1;
                    position: static;
                    width: auto;
                    width: initial;
                }
                    /* Cancel styles for mod/res anchor */
                    .moderator.listing-page .flat-list.buttons li.share +li+li+li ~ li a {
                        opacity: 1;
                        position: static;
                        color: initial;
                        height: initial;
                        font-weight: initial;
                        color: #777;
                    }
                    .moderator.listing-page .flat-list.buttons li.share +li+li+li ~ li a::after {
                        display: none;
                    }

                /* Hide icons for extra buttons */
                .res.loggedin.listing-page .flat-list.buttons li.report-button + li::after,
                .moderator.listing-page .flat-list.buttons li.share +li+li+li ~ li::after {
                    display: none;
                }


            /* Share Button Icon */
            .listing-page .flat-list.buttons li.share::after {
                background-position: -4px -30px;
            }
            /* Star Button Icon */
            .listing-page .flat-list.buttons li.link-save-button::after,
            .listing-page .flat-list.buttons li.link-unsave-button::after {
                background-position: -158px -76px;
            }
            /* Flag Button Icon */
            .listing-page .flat-list.buttons li.report-button::after,
            .moderator.listing-page .flat-list.buttons li.share + li + li + li::after {
                background-position: -30px -80px;
            }
            /* Close Button Icon */
            .listing-page .flat-list.buttons li.share + li + li::after {
                background-position: -30px -4px;
            }

            /* Share Button */
            .listing-page .flat-list.buttons li.share {
                right: 121px;
            }
            /* Save Button */
            .listing-page .flat-list.buttons li.link-save-button,
            .listing-page .flat-list.buttons li.link-unsave-button {
                right: 84px;
            }
            /* Report (Flag) Button */
            .listing-page .flat-list.buttons li.report-button,
            .moderator.listing-page .flat-list.buttons li.share + li + li + li {
                right: 47px;
            }
            /* Hide (Close) Button */
            .listing-page .flat-list.buttons li.share + li + li {
                right: 10px;
            }





    /* For promoted page */
    .content .infobar {
        border: 1px solid #DDD;
        background: #FAFAFA;
        margin: 0 auto;
        margin-top: 15px;
        max-width: 500px;
        width: 100%;
        text-align: center;
    }

    /* Next page buttons */
    .content .nav-buttons {
        height: 50px;
        line-height: 50px;
        text-align: right;
        padding-right: 30px;
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
        .content .nav-buttons .nextprev a,
        .content .nav-buttons .next-suggestions a::before {
            border-radius: 0px;
            padding: 4px 12px;
            font-weight: 100;
            color: #444;
            height: 24px;
            line-height: 24px;
            border: 1px solid #AAA;
            background: #FAFAFA;
            transition: background 0.3s;
        }
        .content .nav-buttons .nextprev a:hover,
        .content .nav-buttons .next-suggestions a:hover::before {
            background: #CCC;
        }
        .content .nav-buttons .nextprev a:active,
        .content .nav-buttons .next-suggestions a:active::before {
            background: #BBB;
        }
        .content .nav-buttons .nextprev {
            text-transform: capitalize;
            margin-right: 24px;
        }
        .content .nav-buttons .nextprev a {
            text-transform: uppercase;
        }
        .content .nav-buttons .next-suggestions a {
            visibility: hidden;
            font-size: 0px;
        }
            .content .nav-buttons .next-suggestions a::before {
                visibility: visible;
                font-size: 12px;
                content: 'Explore Subreddits';
                margin-left: 4px;
            }


/* --- Comment View --- */

.commentarea {
    padding: 12px;
    color: #555;
}

    .commentarea .usertext-edit {
        width: 100%;
        max-width: 500px;
        margin: 20px auto 60px auto;
    }

        /* Save and cancel buttons */
        .commentarea .usertext-buttons button {
            background: rgba(0,0,0,0.05);
            font-size: 11px;
            letter-spacing: 2px;
            color: #777;
            margin-top: 0px;
        }
        .commentarea .usertext-buttons button:hover {
            background: rgba(0,0,0,0.15);
        }
        .commentarea .usertext-buttons button:active {
            background: rgba(0,0,0,0.25);
        }

    .panestack-title {
        border-bottom: 1px solid #DDD;
        text-transform: capitalize;
        text-align: center;
        width: 75%;
        margin: 0 auto;
    }
        .panestack-title .title {
            font-size: 18px;
            font-weight: 100;
        }
    .commentarea .menuarea {
        margin: 12px 0 0 0;
        font-weight: 100;
        text-align: center;
        display: block;
        overflow: visible;
    }
    .commentarea .menuarea {
    }
        .menuarea .dropdown-title:first-letter {
            text-transform: uppercase;
        }
        .menuarea .dropdown-title {

        }
        .menuarea .dropdown {
            text-transform: uppercase;
            border: 1px solid #DDD;
            margin-left: 4px;
            padding: 5px;
            padding-left: 12px;
            text-decoration: none;
            transition: background 0.2s;
            background: rgba(0,0,0,0.1);
        }
        .menuarea .dropdown:hover {
            background: rgba(0,0,0,0.2);
        }
            .menuarea .dropdown .selected {
                text-decoration: none;
                font-weight: normal;
            }
        .menuarea .drop-choices {
            margin-top: 14px;
            background: transparent;
        }
            .menuarea .drop-choices > *:first-child {
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
            }
            .menuarea .drop-choices > *:last-child {
                border-bottom-right-radius: 2px;
                border-bottom-left-radius: 2px;
            }
            .menuarea .drop-choices a {
                background: rgba(60,60,60,0.9);
                padding: 6px 24px;
                color: #EEE;
                text-transform: capitalize;
                text-align: left
            }
            .menuarea .drop-choices a:hover {
                background: rgba(60,60,60,0.95);
            }

    /* Parent Comments */
    .commentarea > .sitetable > .comment {
        background: #FAFAFA;
        padding: 12px;
        border-radius: 2px;
        margin: 16px 0;
    }
        .commentarea .tagline {}
            .commentarea .tagline > * {
                vertical-align: middle;
            }
            .commentarea .tagline .author {
                font-size: 14px;
                font-weight: normal;
            }
            .commentarea .tagline .submitter {
                color: #af882a;
            }
        .commentarea .comment .child {
            border: none;
        }
        .commentarea .comment {
            border-left: 2px solid #bcc5cc;
        }

    .commentarea blockquote {
        color: #777;
    }
    .commentarea .expand {
        font-weight: bold;
        font-size: 11px;
    }





.footer-parent {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 300px;
}
    .footer-parent .footer {
        border-radius: 0px;
        border: 1px solid #BBB;
        background: rgba(255,255,255,0.1);
    }
        .footer .col {
            border-color: #666;
        }
            .footer .col .title {
                color: #CCC;
                text-transform: uppercase;
                font-weight: 100;
                font-size: 14px;
                text-align: center;
                padding-bottom: 4px;
                margin-bottom: 10px;
                border-bottom: 1px solid #777;
            }
            .footer a:first-letter {
                text-transform: uppercase;
            }
            .footer a {
                color: #7D92B3;
            }
            .footer a:visited {
                color: #A27DB3;
            }
            .footer a.buygold {
                font-weight: normal;
            }

/* Submit Page Styles */

.submit-page div.content {
    text-align: center;
    padding-top: 34px;
    padding-bottom: 34px;
}
    .submit-page .content .md {
        color: #666;
    }
    .submit-page div.content input,
    .submit-page div.content textarea {
        border: 1px solid #DFDFDF;
        font-size: 16px;
        text-align: center;
    }
    .submit-page div.content > h1 {
        border-bottom: 1px solid #DDD;
        padding-bottom: 4px;
        font-size: 30px;
        font-weight: 100;
        text-transform: capitalize;
        width: 95%;
        margin: 0px auto 10px auto;
    }
    .submit-page div.content form.content {
        margin: 0px;
        width: 100%;
        max-width: 700px;
        display: inline-block;
    }
        .submit-page form.content .formtabs-content {
            width: 100%;
            text-align: center;
            border: none;
        }
            .submit-page .formtabs-content .spacer {
                display: inline-block;
                width: 100%;
            }
                .submit-page .content .roundfield {
                    font-size: inherit;
                    margin: 12px !important; /* To cancel default important */
                    width: inherit;
                    padding: 12px;
                    background: #FAFAFA;
                    border: 1px solid #DDD;
                    border-radius: 2px;
                    color: #666;
                }
                    .roundfield .usertext-edit {
                        margin: 0 auto;
                    }
                    .roundfield label {
                        font-size: 13px;
                    }
                    .roundfield #suggested-reddits h3 {
                        margin-top: 16px;
                        margin-bottom: 6px;
                        text-transform: capitalize;
                    }
                    .roundfield#url-field #suggest-title {
                        text-align: center;
                        margin-top: 10px;
                    }
                        .roundfield#url-field #suggest-title button {
                            margin: 0px;
                            display: inline-block;
                        }

                /* Subreddit specific rules */
                .submit-page .spacer > .roundfield.submit_text {
                    color: inherit;
                    max-height: none;
                }
                    .submit-page .roundfield.submit_text .content {
                        text-align: left;
                    }
                    .submit-page .submit_text .md {
                        font-size: inherit;
                    }
                    .submit-page .submit_text .md > h1,
                    .submit-page .submit_text .md > p {
                        text-align: center;
                    }
                    .submit-page .submit_text .md > h1 {
                        font-size: 22px;
                        padding-bottom: 0px;
                        text-align: left;
                        border: none;
                        font-weight: bold;
                    }


                .submit-page .content h1,
                .submit-page .spacer > .roundfield .title {
                    color: #444;
                    text-transform: capitalize;
                    display: block;
                    width: 100%;
                    border-bottom: 1px solid #DDD;
                    padding-bottom: 2px;
                    margin-bottom: 10px;
                    font-weight: 100;
                    font-size: 18px;
                }
            .submit-page .roundfield.info-notice {
                width: 80%;
                font-size: 13px;
                margin-left: auto !important;
                margin-right: auto !important;
            }


        .submit-page form.content .tabmenu {
            position: absolute;
            z-index: 50;
            left: 15px;
            right: 15px;
            top: -48px;
            background: rgba(0,0,0,0.5);
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            padding: 0px;
            text-align: center;
        }
            .submit-page .content .tabmenu li a {
                border: none;
                background: none;
            }
            .submit-page .content .tabmenu li.selected a {
                font-size: inherit;
            }
        .submit-page form.content button[type=submit] {
            padding: 14px 80px;
            background: hsl(201, 25%, 40%);
            font-size: 18px;
            color: white;
            font-weight: 100;
            font-family: helvetica, verdana, arial, sans-serif;
            letter-spacing: 2px;
            margin-top: 40px;
            color: #EEE;
        }
        .submit-page form.content button[type=submit]:hover,
        .submit-page form.content button[type=submit]:focus {
            background: hsl(201, 25%, 30%);
        }
        .submit-page form.content button[type=submit]:active {
            background: hsl(201, 25%, 25%);
        }
